[user]
    name = osbm
    email = osmanfbayram@gmail.com
[credential]
    helper = store
[core]
    pager = cat
    editor = nano
[push]
    autoSetupRemote = true
[init]
    defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
